* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}


body {
    background: var(--bg);
    color: var(--white);
}

:root {
    --bg: #040D1F;
    --white: #fff;
    --black: #000;
    --orange: #F18128;
    --light: #ED8E00;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}